@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap");

.App {
  margin: 0 auto;
  color: white;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.loginForm {
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(233, 115, 203), rgb(112, 92, 226));
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(165, 159, 161);
  box-sizing: border-box;
}

button {
  background-color: #53bfe0;
  color: #0d0d0e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img {
  width: 60%;
  border-radius: 60%;
}

label {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  color: rgb(11, 11, 17);
}

.header {
  font-family: "Merriweather", sans-serif;
  font-size: 2.5rem;
  color: rgb(6, 6, 7);
}
